.uno{
	width:20%;
	margin:10px;
	border: 2px solid #EB8459;
	padding: 10px;	
}
.dos{
	width:20%;
	margin:10px;
	border: 2px solid #EB8459;
	padding: 10px;	
}
.tres{
	width:20%;
	margin:10px;
	border: 2px solid #EB8459;
	padding: 10px;	
}











/* Agrega aqui tu CSS *//* Agrega aqui tu CSS */