.uno{
	width:20%;
	border: 2px solid #EB8459;
	padding right: 0px;	
}
.dos{
	width:20%;
	border: 2px solid #EB8459;
	padding right: 0px;	
}
.tres{
	width:20%;
	border: 2px solid #EB8459;
	padding right: 0px;	
}
/* Agrega aqui tu CSS */